.certificado_html5 {
  width: 275px;
  height: 344px;
  border-radius: 1.25rem;
  position: relative;
  perspective: 1000px;
}

.html5_obc,
.certificado {
  width: 275px;
  height: 344px;
  border-radius: 1.25rem;
}

.front,
.back {
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: all 1s ease;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.certificado_html5:hover .front {
  transform: rotateY(-180deg);
}

.certificado_html5:hover .back {
  transform: rotateY(0deg);
}
