@import url("https://fonts.googleapis.com/css2?family=Lexend&family=Red+Hat+Display&display=swap");

:root {
  --background: #2c2c2c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  display: grid;
  height: 100vh;
  margin: 0px;
  font-size: 16px;
  font-family: "Red Hat Display", "Lexend", sans-serif;
}

.instagram_icon_front,
.instagram_icon_back,
.linkedin_icon_front,
.linkedin_icon_back,
.facebook_icon_front,
.facebook_icon_back {
  width: 26px;
  height: 26px;
}

.landingpage_icon_front,
.landingpage_icon_back {
  width: 30px;
  height: 30px;
}

.instagram_icon_front,
.instagram_icon_back,
.linkedin_icon_front,
.linkedin_icon_back,
.facebook_icon_front,
.facebook_icon_back,
.landingpage_icon_front,
.landingpage_icon_back {
  position: absolute;
  backface-visibility: hidden;
}

.instagram_icon_front,
.linkedin_icon_front,
.facebook_icon_front,
.landingpage_icon_front {
  transform: rotateY(0deg);
}

.instagram_icon_back,
.linkedin_icon_back,
.facebook_icon_back,
.landingpage_icon_back {
  transform: rotateY(180deg);
}

.container {
  margin: auto;
}

.profile-wrapper {
  width: 350px;
  height: 450px;
  position: relative;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 450px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.5s;
}

.profile .profile-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: var(--background);
  transition: 0.5s;
}

.profile-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profile:hover .user_image {
  opacity: 0.4;
  transition: 0.5s;
}

.profile:hover .profile-image {
  transform: translateY(-104px);
  transition: all 0.9s;
}

.profile:hover .profile-bio {
  opacity: 0.9;
}

.social-icons {
  position: absolute;
  display: flex;
  gap: 12px;
  z-index: 3;
  bottom: 164px;
}

.social-icons li {
  list-style: none;
}

.social-icons li a {
  position: relative;
  display: block;
  display: grid;
  place-items: center;
  background: #fff;
  font-size: 23px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  transition: 0.2s;
  transform: translateY(32px);
  opacity: 0;
}

.social-icons li a:hover .instagram_icon_front,
.social-icons li a:hover .linkedin_icon_front,
.social-icons li a:hover .facebook_icon_front,
.social-icons li a:hover .landingpage_icon_front {
  transition: 0.8s;
  transform: rotateY(-180deg);
}

.social-icons li a:hover .instagram_icon_back,
.social-icons li a:hover .linkedin_icon_back,
.social-icons li a:hover .facebook_icon_back,
.social-icons li a:hover .landingpage_icon_back {
  transition: 0.8s;
  transform: rotateY(0deg);
}

.profile:hover .social-icons li a {
  opacity: 1;
}

.profile:hover li:nth-child(1) a {
  transition-delay: 0.1s;
}

.profile:hover li:nth-child(2) a {
  transition-delay: 0.2s;
}

.profile:hover li:nth-child(3) a {
  transition-delay: 0.3s;
}

.profile:hover li:nth-child(4) a {
  transition-delay: 0.4s;
}

.profile-name {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
  background: var(--background);
  width: 100%;
  height: 104px;
  padding: 12px 16px 16px 16px;
  z-index: 1;
  color: #333;
  text-align: left;
}

.profile:hover .profile-name {
  background-color: #fff;
}

.profile-name h2 {
  margin-bottom: 8px;
}
