@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Montserrat:wght@400;500;600;700;800&family=Open+Sans:wght@400;500;600;700;800&family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap");

@font-face {
  font-family: "nesans_regular";
  src: url(../../assets/fonts/nesans_regular.ttf);
}

@font-face {
  font-family: "helvetica-roman";
  src: url(../../assets/fonts/helvetica-roman.otf);
}

/* -------------- Estilos Gerais -------------- */

[data-overlay] {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

[data-overlay]::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: "";
}

[data-opacity="1"]::before {
  opacity: 0.1;
}

[data-opacity="2"]::before {
  opacity: 0.2;
}

[data-opacity="3"]::before {
  opacity: 0.3;
}

[data-opacity="4"]::before {
  opacity: 0.4;
}

[data-opacity="5"]::before {
  opacity: 0.5;
}

[data-opacity="6"]::before {
  opacity: 0.6;
}

[data-opacity="7"]::before {
  opacity: 0.7;
}

[data-opacity="8"]::before {
  opacity: 0.8;
}

[data-opacity="9"]::before {
  opacity: 0.9;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  color: #1f1f29;
  margin-top: 0px;
  font-style: normal;
  font-weight: 500;
  text-transform: normal;
}

p {
  font-family: "Poppins", sans-serif;
  color: #1f1f29;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 15px;
  font-weight: normal;
}

.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.fix {
  overflow: hidden;
}

a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}

a {
  color: #635c5c;
}

a:hover {
  color: #fafafa;
}

a:focus,
a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}

a,
button {
  color: #fafafa;
  outline: medium none;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
  outline: 0;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

.mb-90 {
  margin-bottom: 90px;
}

@media (max-width: 767px) {
  .mb-90 {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .mb-90 {
    margin-bottom: 45px;
  }
}

.btn {
  background: #d6a6a6;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  border-radius: 0px;
  -moz-user-select: none;
  letter-spacing: 1px;
  line-height: 0;
  margin-bottom: 0;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  z-index: 1;
  border: 0;
  overflow: hidden;
  margin: 0;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 101%;
  height: 101%;
  background: #bb9191;
  z-index: 1;
  border-radius: 5px;
  transition: transform 0.5s;
  transition-timing-function: ease;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
  border-radius: 0px;
}

.btn:hover::before {
  transform: scaleX(1);
  color: #fafafa !important;
  z-index: -1;
}

.btn:hover {
  background-position: right;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

#scrollUp,
#back-top {
  display: none;
  background: #d6a6a6;
  height: 50px;
  width: 50px;
  right: 31px;
  bottom: 18px;
  position: fixed;
  color: #fafafa;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  line-height: 48px;
  border: 2px solid transparent;
  box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
}

@media (max-width: 575px) {
  #scrollUp,
  #back-top {
    right: 16px;
  }
}

#scrollUp a i,
#back-top a i {
  display: block;
  line-height: 50px;
}

#scrollUp:hover {
  color: #fafafa;
}

.mt-10 {
  margin-top: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-90 {
  margin-bottom: 60px;
}

.pt-20 {
  padding-top: 20px;
}

@media (max-width: 575px) {
  .section-tittle {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section-tittle {
    margin-bottom: 50px;
  }
}

.section-tittle span {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 22px;
  color: #1f1f29;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 1.6px;
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 575px) {
  .section-tittle span {
    font-size: 14px;
  }
}

.section-tittle h2 {
  font-size: 44px;
  color: #1f1f29;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-tittle h2 {
    font-size: 48px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section-tittle h2 {
    font-size: 31px;
  }
}

@media (max-width: 575px) {
  .section-tittle h2 {
    font-size: 27px;
  }
}

/* -------------- Preloader --------------  */

.preloader {
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  margin: 0 auto;
}

.preloader .preloader-circle {
  width: 100px;
  height: 100px;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-top-color: #d6a6a6;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  z-index: 10;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
  box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
  background-color: #fafafa;
  -webkit-animation: zoom 2000ms infinite ease;
  animation: zoom 2000ms infinite ease;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.preloader .preloader-img {
  position: absolute;
  top: 50%;
  z-index: 200;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.preloader .preloader-img img {
  max-width: 84px;
}

.bounce-animate {
  animation-name: float-bob;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -moz-animation-name: float-bob;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: float-bob;
  -ms-animation-duration: 2s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: float-bob;
  -o-animation-duration: 2s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}

@-webkit-keyframes float-bob {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

.heartbeat {
  animation: heartbeat 1s infinite alternate;
}

@-webkit-keyframes heartbeat {
  to {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
  }
}

.rotateme {
  -webkit-animation-name: rotateme;
  animation-name: rotateme;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@keyframes rotateme {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateme {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }
}

/* -------------- Header -------------- */

.header-transparent {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
}

.sticky-bar {
  left: 0;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  z-index: 9999;
  -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  background: #fafafa;
}

.header-sticky.sticky-bar {
  background-image: url(../img/hero/nav-bg.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-area .main-header {
  padding: 0px 130px;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .header-area .main-header {
    padding: 0px 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area .main-header {
    padding: 0px 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header {
    padding: 22px 50px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-area .main-header {
    padding: 22px 20px;
  }
}

@media (max-width: 575px) {
  .header-area .main-header {
    padding: 22px 14px;
  }
}

.header-area .main-header .main-menu nav .nav-item {
  padding: 39px 25px;
}

.header-area .main-header .main-menu nav .nav-item #homeblog-btn-box {
  width: fit-content;
  padding: 12px 20px 12px 12px;
  border-radius: 8px;
  background: rgba(60, 60, 60, 0.3);
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1;
}

.header-area .main-header .main-menu nav .nav-item #homeblog-btn-box:hover {
  background-color: #1f1f29;
}

.header-area .main-header .main-menu nav .nav-item #homeblog-btn-box a {
  cursor: pointer;
  position: relative;
  z-index: 1;
  text-decoration: none;
  background: transparent;
  padding: 0;
  width: fit-content;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.header-area
  .main-header
  .main-menu
  nav
  .nav-item
  #homeblog-btn-box
  a
  .home-btn-img {
  position: relative;
  transition: all 0.3s ease-in-out;
  color: #d6a6a6;
  bottom: 1px;
}

.header-area
  .main-header
  .main-menu
  nav
  .nav-item
  #homeblog-btn-box
  a:hover
  .home-btn-img {
  translate: 5px;
  color: #f5f5fa;
}

.header-area
  .main-header
  .main-menu
  nav
  .nav-item
  #homeblog-btn-box
  a
  .blog-btn-text {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.2px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #d6a6a6;
  transition: all 0.3s ease-in-out;
}

.header-area
  .main-header
  .main-menu
  nav
  .nav-item
  #homeblog-btn-box
  a:hover
  .blog-btn-text {
  color: #f5f5fa;
}

.header-sticky.sticky-bar.sticky .main-menu nav .nav-item #homeblog-btn-box a {
  padding: 20px 20px !important;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-sticky.sticky-bar.sticky {
    padding: 15px 0px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-sticky.sticky-bar.sticky {
    padding: 15px 0px;
  }
}

@media (max-width: 575px) {
  .header-sticky.sticky-bar.sticky {
    padding: 15px 0px;
  }
}

#header-logo-link {
  display: grid;
  place-items: center;
  width: 125px;
}

#header-logo-link > p {
  color: rgba(245, 245, 250, 0.7);
}

#header-logo-link:hover > p {
  color: rgba(245, 245, 250);
}

#header-logo-top {
  font-family: "nesans_regular";
  font-size: 80px;
  color: #fafafa;
  height: 100%;
  margin-bottom: 0;
  padding-top: 20px;
  transition: all 0.3s cubic-bezier(0, 0.22, 0.3, 1);
}

#header-logo-bot {
  font-family: "helvetica-roman";
  font-size: 7px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fafafa;
  text-align: justify;
  line-height: 15px;
  margin: 20px auto 0 5px;
  transition: all 0.3s cubic-bezier(0, 0.22, 0.3, 1);
  width: 100%;
}

@media (max-width: 575px) {
  #header-logo-link {
    transform-origin: left bottom;
    transform: scale(0.8);
  }
}

.mobile_menu {
  position: absolute;
  right: 0px;
  width: 50%;
  z-index: 99;
}

.mobile_menu .slicknav_menu {
  background: transparent;
  margin-top: 0px !important;
}

.mobile_menu .slicknav_menu .slicknav_btn {
  top: -50px;
}

@media (max-width: 575px) {
  .mobile_menu .slicknav_menu .slicknav_btn {
    top: -40px;
  }
}

.mobile_menu .slicknav_menu .slicknav_btn .slicknav_icon-bar {
  background-color: #d6a6a6 !important;
}

.mobile_menu .slicknav_menu .slicknav_nav {
  margin-top: 16px !important;
}

.mobile_menu .slicknav_menu .slicknav_nav a:hover {
  background-color: #947474;
  color: #f5f5fa;
}

.mobile_menu .slicknav_menu .slicknav_nav .slicknav_open > a {
  background-color: #947474;
  color: #f5f5fa;
}

.mobile_menu .slicknav_menu .slicknav_nav .slicknav_open .slicknav_item > a {
  color: #f5f5fa;
}

.mobile_menu .slicknav_menu .slicknav_nav .slicknav_item:hover :where(a, span) {
  color: #f5f5fa;
}

.mobile_menu .slicknav_menu .slicknav_nav a {
  font-size: 15px;
  padding: 7px 10px;
}

.mobile_menu .slicknav_menu .slicknav_nav .slicknav_item a {
  padding: 0 !important;
}

/* -------------- BG TOP -------------- */

.slider-area2 .hero-cap h2 {
  color: rgba(245, 245, 250);
  font-size: 50px;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 1;
  filter: drop-shadow(0 5px 12px rgba(0, 0, 0, 0.5));
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .slider-area2 .hero-cap h2 {
    font-size: 50px;
  }
}
@media (max-width: 575px) {
  .slider-area2 .hero-cap h2 {
    font-size: 35px;
  }
}
.slider-height2 {
  height: 450px;
  background-image: url(../img/blog/3.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: cover;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .slider-height2 {
    height: 350px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .slider-height2 {
    height: 260px;
  }
}
@media (max-width: 575px) {
  .slider-height2 {
    height: 260px;
  }
}
.blog_area {
  padding: 100px 0;
}
.blog_area a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.blog_area a:hover {
  color: #d6a6a6;
}
.single-post-area .blog_details {
  padding: 40px 15px 15px 0;
  border-bottom: 1px solid #f0e9ff;
}
.single-post-area .blog_details p {
  margin-bottom: 30px;
  font-size: 15px;
  text-align: justify;
  text-indent: 5%;
}
.single-post-area .blog_details a {
  color: #242b5e;
}
.single-post-area .blog_details a:hover {
  color: #d6a6a6;
}
.single-post-area .blog_details h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .single-post-area .blog_details h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
}
.blog-info-link {
  display: flex;
  justify-content: start;
  align-items: center;
}
.blog-info-link li {
  font-size: 14px;
}
.blog-info-link > span {
  margin: 0 10px;
}
.blog-info-link li > div {
  color: #999999;
  display: flex;
  gap: 5px;
  transition: all 0.3s ease-in-out;
  cursor: default;
}
.blog-info-link li > div:hover {
  color: #d6a6a6;
}
.blog-info-link li i,
.blog-info-link li span {
  font-size: 20px;
}
.blog-info-link li:last-child::after {
  display: none;
}
.blog-info-link::after {
  content: "";
  display: block;
  clear: both;
  display: table;
}
.blog_right_sidebar .widget_title {
  font-size: 18px;
  margin-bottom: 40px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  line-height: 1.2;
  letter-spacing: 1px;
}
.blog_right_sidebar .widget_title::after {
  content: "";
  display: block;
  padding-top: 15px;
  border-bottom: 1px solid #f0e9ff;
}
.blog_right_sidebar .single_sidebar_widget {
  background: #fbf9ff;
  padding: 30px;
  margin-bottom: 30px;
}
.blog_right_sidebar .single_sidebar_widget .btn_1 {
  margin-top: 0px;
}
.blog_right_sidebar .tag_cloud_widget ul li {
  display: inline-block;
}
.blog_right_sidebar .tag_cloud_widget ul li div {
  display: inline-block;
  border: 1px solid #eeeeee;
  background: #fff;
  padding: 4px 20px;
  margin-bottom: 8px;
  margin-right: 3px;
  transition: all 0.3s ease-in-out;
  color: #888888;
  font-size: 13px;
  cursor: default;
  text-transform: lowercase;
}
.blog_right_sidebar .tag_cloud_widget ul li div:hover {
  background: #d6a6a6;
  color: #fff !important;
  -webkit-text-fill-color: #fff;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.blog_right_sidebar .br {
  width: 100%;
  height: 1px;
  background: #eee;
  margin: 30px 0px;
}
.blog_right_sidebar .gallery .galery_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}
.blog_right_sidebar .gallery .galery_container .gallery_img {
  width: 30%;
  height: 80px;
  margin: 5px;
  outline: 1px solid #f0e9ff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog_right_sidebar .gallery .galery_container .gallery_img:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #d6a6a6;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  z-index: -1;
}
.blog_right_sidebar .gallery .galery_container .gallery_img:hover:after {
  opacity: 0.6;
}
.blog_right_sidebar .gallery .galery_container .gallery_img .expand_icon {
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  font-size: 30px;
  color: #f5f5fa;
}
.blog_right_sidebar .gallery .galery_container .gallery_img:hover .expand_icon {
  opacity: 1;
  visibility: visible;
}
.blog_right_sidebar .gallery .galery_container .popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  z-index: 10;
}
.blog_right_sidebar .gallery .galery_container .popup .popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 11;
  width: 700px;
  height: fit-content;
}
.blog_right_sidebar .gallery .galery_container .popup .popup-content img {
  width: 700px;
  position: relative;
  z-index: 12;
  filter: drop-shadow(0 5px 12px rgba(0, 0, 0, 0.5));
}
.blog_right_sidebar .gallery .galery_container .popup .popup-content .close {
  color: #f5f5fa;
  font-size: 22px;
  position: relative;
  top: -10px;
  left: 10px;
  cursor: pointer;
  z-index: 12;
  transition: all 0.3s ease-in-out;
}
.single-post-area .social-links {
  padding-top: 10px;
}
.single-post-area .social-links li {
  display: inline-block;
  margin-bottom: 10px;
}
.single-post-area .social-links li a {
  color: #cccccc;
  padding: 7px;
  font-size: 14px;
  transition: all 0.2s linear;
}
.single-post-area .quote-wrapper {
  background: rgba(130, 139, 178, 0.1);
  padding: 15px;
  line-height: 1.733;
  color: #888888;
  font-style: italic;
  margin-top: 25px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .single-post-area .quote-wrapper {
    padding: 30px;
  }
}
.single-post-area .quotes {
  background: #fff;
  padding: 15px 15px 15px 20px;
  border-left: 2px solid;
}
@media (min-width: 768px) {
  .single-post-area .quotes {
    padding: 25px 25px 25px 30px;
  }
}
.single-post-area .arrow {
  position: absolute;
}
.single-post-area .arrow .lnr {
  font-size: 20px;
  font-weight: 600;
}
.single-post-area .thumb .overlay-bg {
  background: rgba(0, 0, 0, 0.8);
}
.single-post-area .blog-author {
  padding: 40px 30px;
  background: #fbf9ff;
  margin-top: 50px;
}
@media (max-width: 600px) {
  .single-post-area .blog-author {
    padding: 20px 8px;
  }
}
.single-post-area .blog-author img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 30px;
}
@media (max-width: 600px) {
  .single-post-area .blog-author img {
    margin-right: 15px;
    width: 45px;
    height: 45px;
  }
}
.single-post-area .blog-author a {
  display: inline-block;
}
.single-post-area .blog-author a:hover {
  color: #d6a6a6;
}
.single-post-area .blog-author p {
  margin-bottom: 0;
  font-size: 15px;
}
.single-post-area .blog-author h4 {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
}
@media (max-width: 991px) {
  .single-post-area .sidebar-widgets {
    padding-bottom: 0px;
  }
}

/* -------------- Footer -------------- */

.footer-area {
  background: linear-gradient(
    45deg,
    rgba(229, 164, 168, 1) 0%,
    rgba(214, 166, 166, 1) 50%,
    rgba(221, 138, 140, 1) 100%
  );
}

.footer-area .footer-top {
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}

.footer-area .footer-top .single-footer-caption {
  margin: 0;
}

.footer-area .footer-top .single-footer-caption .footer-logo {
  margin-bottom: 30px;
}

.footer-area .footer-top .single-footer-caption .footer-logo > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(250 250 250 / 0.7);
  outline: medium none;
  transition: 0.4s;
  width: fit-content;
  padding: 20px 20px 27px 20px;
  background-color: rgba(174, 99, 106, 0.2);
}

.footer-area .footer-top .single-footer-caption .footer-logo > a:hover {
  color: #f9f9fa;
  background-color: rgba(174, 99, 106, 0.5);
}

.footer-area .footer-top .single-footer-caption .footer-logo #footer-logo-top {
  font-family: "nesans_regular";
  font-size: 56px;
  font-weight: normal;
  color: inherit;
  line-height: 1;
  margin: 0 0 0 8px;
  padding: 0;
  width: fit-content;
}

.footer-area .footer-top .single-footer-caption .footer-logo #footer-logo-bot {
  font-family: "helvetica-roman";
  font-size: 5px;
  font-weight: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: inherit;
  line-height: 1;
  margin: 0;
  padding: 0;
  width: fit-content;
}

.footer-area .footer-top .single-footer-caption .footer-pera .info1 {
  line-height: 1.8;
  margin-bottom: 35px;
  color: rgba(102, 102, 102, 1);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
    padding-right: 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
    padding-right: 0px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
    padding-right: 0px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
    padding-right: 0px;
  }
}

.footer-area .footer-top .single-footer-caption .footer-number h4 {
  color: rgba(102, 102, 102, 0.9);
  font-size: 30px;
  font-weight: 500;
  text-transform: capitalize;
}

.footer-area .footer-top .single-footer-caption .footer-number h4 span {
  color: rgba(102, 102, 102, 0.7);
}

.footer-area .footer-top .single-footer-caption .footer-number p {
  color: rgba(102, 102, 102, 0.7);
}

.footer-area .footer-top .single-footer-caption .footer-tittle h4 {
  color: #fafafa;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-bottom: 38px;
  font-weight: 500;
  text-transform: uppercase;
}

.footer-area .footer-top .single-footer-caption .footer-tittle ul li {
  color: #7c7c7c;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.footer-area .footer-top .single-footer-caption .footer-tittle ul li a {
  color: rgba(102, 102, 102, 1);
  font-weight: 300;
  font-size: 15px;
}

.footer-area .footer-top .single-footer-caption .footer-tittle ul li a:hover {
  color: #fafafa;
  padding-left: 5px;
}

.footer-area .footer-top .single-footer-caption .footer-form {
  margin-bottom: 30px;
}

.footer-area .footer-top .single-footer-caption .footer-form form {
  position: relative;
}

.footer-area .footer-top .single-footer-caption .footer-form form input {
  width: 100%;
  height: 43px;
  padding: 10px 20px;
  border: 0;
  background: rgba(102, 102, 102, 0.7);
  color: #1f1f29;
}

.footer-area
  .footer-top
  .single-footer-caption
  .footer-form
  form
  input::placeholder {
  color: #9fa6bd;
  font-weight: 300;
  font-size: 14px;
}

.footer-area
  .footer-top
  .single-footer-caption
  .footer-form
  form
  .form-icon
  button {
  position: absolute;
  top: 0px;
  right: 0;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 14px 22px;
  background: rgba(31, 31, 41, 0.7);
  line-height: 1;
  color: #d6a6a6;
  font-size: 14px;
  font-weight: 300;
}

.footer-area .footer-top .single-footer-caption .info.error {
  color: #ff0000;
}

.footer-area .footer-top .single-footer-caption .footer-cap {
  margin-bottom: 30px;
}

.footer-area .footer-top .single-footer-caption .footer-cap span {
  color: #d6a6a6;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
  display: block;
}

.footer-area .footer-top .single-footer-caption .footer-cap p {
  color: #7c7c7c;
  font-size: 16px;
}

.footer-area .footer-bottom {
  padding-bottom: 50px;
  padding-top: 30px;
}

.footer-area .footer-bottom .footer-copy-right p {
  color: rgba(102, 102, 102, 1);
  font-weight: 300;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 12px;
}

.footer-area .footer-bottom .footer-copy-right p i {
  color: rgba(174, 99, 106, 1);
}

.footer-area .footer-bottom .footer-copy-right p a {
  color: rgba(174, 99, 106, 1);
}

.footer-area .footer-bottom .footer-copy-right p a:hover {
  color: #fafafa;
}

.footer-area .footer-social {
  display: flex;
  align-items: center;
  justify-content: end;
}

.footer-area .footer-social span {
  color: #fafafa;
  position: relative;
  margin-right: 57px;
}

.footer-area .footer-social span::before {
  position: absolute;
  content: "";
  width: 43px;
  height: 2px;
  background: #3b3647;
  top: 50%;
  transform: translateY(-50%);
  right: -56px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-area .footer-social {
    float: left;
    padding-top: 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-area .footer-social {
    float: left;
    padding-top: 10px;
  }
}

@media (max-width: 575px) {
  .footer-area .footer-social {
    float: left;
    padding-top: 10px;
  }
}

.footer-area .footer-social a {
  color: rgba(102, 102, 102, 1);
  font-size: 18px;
  padding-right: 25px;
}

.footer-area .footer-social a i {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  transform: rotateY(0deg);
}

.footer-area .footer-social a:hover {
  color: #fafafa;
}

.footer-area .footer-social a:hover i {
  transform: rotateY(180deg);
}

.footer-padding {
  padding-top: 150px;
  padding-bottom: 70px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-padding {
    padding-top: 150px;
    padding-bottom: 70px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-padding {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-padding {
    padding-top: 80px;
    padding-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .footer-padding {
    padding-top: 80px;
    padding-bottom: 0px;
  }
}
