@import url("https://fonts.googleapis.com/css2?family=Lexend&family=Red+Hat+Display&display=swap");

:root {
  --background: #2c2c2c;
  --subtitle: #1f1f29;
  --background-border: #6b626c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", "Lexend", sans-serif;
  height: 100vh;
  padding: 32px;
  display: grid;
  place-items: center;
  background-color: var(--background);
}

#gallery {
  display: flex;
  gap: 54px;
  transition: all 0.4s;
}

.card {
  position: relative;
  left: 0px;
  width: 320px;
  height: 213px;
  border-radius: 1.8rem;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  outline: 1px solid var(--background-border);
  transition: all 0.4s;
}

#gallery .card_img {
  position: absolute;
  width: 320px;
  height: 213px;
  border-radius: 1.8rem;
  overflow: hidden;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  outline: 1px solid var(--background-border);
  z-index: 10;
}

#gallery .card figure {
  width: 320px;
  height: 213px;
}

#gallery .card .backcard {
  font-size: 1.2rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: end;
  padding-bottom: 10px;
  padding-left: 20px;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ea8d8d, #a890fe);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  outline: 1px solid var(--background-border);
  border-radius: 1.8rem;
  transition: all 0.4s;
}

#gallery .card .backcard figcaption {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--subtitle);
}

#gallery .card .backcard figcaption h3 {
  letter-spacing: 1px;
}

.card:hover {
  translate: 0 -30px;
  cursor: pointer;
}

.card:hover .backcard {
  translate: -20px 45px;
}
