@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --background: #2c2c2c;
  --background-text: #f5f5fa;
  --background-border: #6b626c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--background);
}

.parallax-image {
  display: block;
  height: 940px;
  width: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  outline: var(--background-border) solid 2px;
}

.parallax-image-1 {
  background-image: url(images/Aurora_img_1.jpg);
}

.parallax-image-2 {
  background-image: url(images/Aurora_img_2.jpg);
}

.parallax-image-3 {
  background-image: url(images/Aurora_img_3.jpg);
}

section {
  padding: 64px;
  width: 50%;
  background-color: var(--background-text);
  outline: var(--background-border) solid 2px;
}

section > h2 {
  text-transform: uppercase;
  margin-bottom: 24px;
}

section > p {
  text-align: justify;
  text-indent: 5%;
}
