@import url("https://fonts.googleapis.com/css2?family=Lexend&family=Red+Hat+Display&display=swap");

:root {
  --height: 100px;
  --width: 200px;
  --background: #2c2c2c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", "Lexend", sans-serif;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--background);
}

svg {
  position: absolute;
  left: 0;
  top: 0;
}

#wrapper {
  width: calc(4 * var(--width));
  height: calc(4 * var(--height));
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-1,
#button-2,
#button-3,
#button-4 {
  position: relative;
  width: calc(0.8 * var(--width));
  height: calc(0.7 * var(--height));
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  margin: 0 0.8rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 3px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(0, 0.22, 0.3, 1);
}

#wrapper span {
  color: #1f1f29;
  font-size: 1rem;
  font-weight: 700;
  z-index: 10;
  letter-spacing: 2px;
}

#button-1 {
  background-color: #8bd1ff;
}
#button-2 {
  background-color: #e097ff;
}
#button-3 {
  background-color: #88ffe7;
}
#button-4 {
  background-color: #ffa375;
}

.back {
  position: absolute;
  width: 0;
  height: 0;
  filter: url(#filter);
  border-radius: 1rem;
  z-index: 5;
  background-color: #f5f5fa;
  transition: all 2.5s cubic-bezier(0.1, 0.22, 0.3, 1);
}

#button-1 .back {
  left: -50%;
  top: -50%;
}

#button-2 .back {
  right: -50%;
  top: -50%;
}

#button-3 .back {
  left: -50%;
  bottom: -50%;
}

#button-4 .back {
  right: -50%;
  bottom: -50%;
}

#button-1:hover .back {
  width: calc(2 * var(--width));
  height: calc(2 * var(--height));
}

#button-2:hover .back {
  width: calc(2 * var(--width));
  height: calc(2 * var(--height));
}

#button-3:hover .back {
  width: calc(2 * var(--width));
  height: calc(2 * var(--height));
}

#button-4:hover .back {
  width: calc(2 * var(--width));
  height: calc(2 * var(--height));
}
