:root {
  --prim_color: rgb(94, 90, 174);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: var(--prim_color);
}
.main-menu .navbar-default .navbar-nav .active a {
  color: var(--prim_color);
}
.main-menu nav li a::after {
  background: var(--prim_color);
}
.typer {
  color: var(--prim_color) !important;
}
.banner-text h2 {
  color: var(--prim_color);
}
.book-btn a {
  background: var(--prim_color);
  border: 3px solid var(--prim_color);
}
.book-btn a:hover {
  border: 3px solid var(--prim_color);
}
.hvr-underline-from-center::before {
  background: var(--prim_color);
}
.block-title {
  color: var(--prim_color);
}
.item-type-zoom .item-hover:hover::before {
  background: rgba(231, 91, 30, 0.5);
}
.special-box .owl-theme .owl-controls .owl-page.active span {
  background: var(--prim_color);
}
.offer-item div h3 {
  color: var(--prim_color);
}
.tab-menu .is-active {
  background: var(--prim_color);
}
.tab-menu .slick-arrow.slick-prev {
  background: var(--prim_color) url(../../images/back.png) no-repeat center;
  background-position: 2px 4px;
}
.tab-menu .slick-arrow.slick-next {
  background: var(--prim_color) url(../../images/next.png) no-repeat center;
  background-position: 7px 4px;
}

.offer-item .offer-price {
  border: 1px solid var(--prim_color);
}
.sf-team:hover .text-col {
  background-color: var(--prim_color);
}
.gal-item a::after {
  background-color: rgba(231, 91, 30, 0.75);
}
.overlay i:hover {
  border: 1px solid var(--prim_color);
  color: var(--prim_color);
}
.blog-btn-v a {
  background: var(--prim_color);
  border: 3px solid var(--prim_color);
}
.book-srv a {
  background: var(--prim_color);
  border: 3px solid var(--prim_color);
}

.panel-pricing .panel-heading {
  background: var(--prim_color);
}
.panel-pricing {
  border: 1px solid var(--prim_color);
}
.panel-body p strong span {
  color: var(--prim_color);
}
.pricing-main .panel-footer a {
  background: var(--prim_color);
  border: 3px solid var(--prim_color);
}
.pricing-main .panel-footer a:hover {
  border: 3px solid #f04900;
}

.reserve-book-btn button {
  background: var(--prim_color);
  border: 3px solid var(--prim_color);
}
.reserve-book-btn button:hover a {
  color: #000000;
}
.footer-news form a {
  background: var(--prim_color);
}
.footer-news form a:hover {
  border: 2px dotted var(--prim_color);
}
.footer-box-a h3 {
  color: var(--prim_color);
}
.footer-box-b h3 {
  color: var(--prim_color);
}
.footer-box-c h3 {
  color: var(--prim_color);
}
.footer-box-d h3 {
  color: var(--prim_color);
}
.footer-box-c p a:hover {
  color: var(--prim_color);
}
.footer-box-b ul li a:hover {
  color: var(--prim_color);
}

.footer-box .socials-box a:hover .social-circle-border {
  color: var(--prim_color);
}

.footer-box-c p i {
  color: var(--prim_color);
}

.copyright-main {
  background: var(--prim_color);
}

#color-panel a.panel-button:hover {
  color: var(--prim_color);
}
